body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    animation: fadeIn 1s ease-in-out;
}

header {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    animation: slideDown 1s ease-in-out;
}

#heading2 {
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
    animation: fadeIn 1.5s ease-in-out;
}

a {
    text-decoration: none;
    color: #3498db; /* Updated link color for modern theme */
    transition: color 0.3s;
}

a:hover {
    color: #2980b9; /* Updated hover color for modern theme */
    text-shadow: 0px 0px 5px rgba(41, 128, 185, 0.8);
}

#category {
    padding-left: 50px;
    font-size: 1.75em;
    margin-top: 20px;
    animation: fadeIn 2s ease-in-out;
}

b {
    margin-left: 80px;
    font-size: 1.25em;
    color: #271385;
    transition: color 0.3s, font-size 0.3s;
}

b:hover {
    color: #851313;
    font-size: 1.35em;
}

pre {
    font-size: 1.25em;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 80px;
    animation: fadeIn 2.5s ease-in-out;
}

footer {
    text-align: center;
    margin-top: 20px;
    animation: fadeIn 3s ease-in-out;
}

button.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    #heading2 {
        font-size: 20px;
    }
    a {
        font-size: 14px;
    }
    #category {
        font-size: 25px;
        padding-left: 20px;
    }
    b {
        font-size: 20px;
        margin-left: 20px;
    }
    pre {
        font-size: 20px;
        padding-left: 20px;
    }
    footer {
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    #heading2 {
        font-size: 16px;
    }
    a {
        font-size: 12px;
    }
    #category {
        font-size: 15px;
        margin-left: -15px;
    }
    header {
        font-size: 15px;
        text-align: center;
    }
    b {
        font-size: 11px;
    }
    pre {
        font-size: 11px;
        margin-left: -15px;
    }
    footer {
        font-size: 10px;
        text-align: left;
    }
}
