body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    animation: fadeIn 1s ease-in-out;
}

header, #heading2, #category, pre, footer {
    color: lime;
    animation: fadeIn 1.5s ease-in-out;
}

a {
    color: lime; /* Updated link color for CMD theme */
    transition: color 0.3s;
}

a:hover {
    color: #00ff00; /* Updated hover color for CMD theme */
    text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.8);
}

b {
    color: lime;
    transition: font-size 0.3s, color 0.3s;
}

b:hover {
    font-size: 120%;
    color: #00ff00;
}

#normal {
    color: antiquewhite;
}

#css {
    color: rgb(255, 255, 255);
}

b::after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 10%;
    left: 0;
    transition: width 0.3s;
}

b:hover::after {
    width: 100%;
}

#heading2 {
    font-size: 30px;
    text-align: left;
}

a {
    text-decoration: none;
}

header {
    text-align: left;
    font-size: 30px;
}

#category {
    font-size: 35px;
}

b {
    font-size: 30px;
}

pre {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    #heading2 {
        font-size: 20px;
    }
    a {
        font-size: 14px;
    }
    #category {
        font-size: 25px;
    }
    b {
        font-size: 20px;
    }
    pre {
        font-size: 20px;
    }
    footer {
        font-size: 12px;
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    #heading2 {
        font-size: 16px;
    }
    a {
        font-size: 12px;
    }
    #category {
        font-size: 15px;
    }
    header {
        font-size: 15px;
        text-align: left;
    }
    b {
        font-size: 11px;
    }
    pre {
        font-size: 11px;
    }
    footer {
        font-size: 10px;
        text-align: left;
    }
}