body {
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}

header, #heading2, #category, pre, footer {
    color: lime;
}

a {
    color: lime;
}

b {
    color: lime;
}
#normal{
color: antiquewhite;
}
#css{
 color: rgb(255, 255, 255);
}
b:hover::after {
    content: " Click me";
    font-size: 90%;
    color: lime;
}

#heading2{
    font-size: 30px;
    text-align: left;
}
a{
    text-decoration: none;
}

header{
    text-align: left;
    font-size: 30px;
}
#category{

    font-size: 35px;
}
B{
    font-size: 30px;
}
pre{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  
}
b:hover {
    font-size: 110%;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    #heading2 {
        font-size: 20px;
    }
    a {
        font-size: 14px;
    }
    #category {
        font-size: 25px;
 
    }
    b {
        font-size: 20px;
     
    }
    pre {
        font-size: 20px;
   
    }
    footer {
        font-size: 12px;
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
    #heading2 {
        font-size: 16px;
    }
    a {
        font-size: 12px;
    }
    #category {
        font-size: 15px;

    }
    header {
        font-size: 15px;
        text-align: left;
       

    }
    b {
        font-size: 11px;
   
    }
    pre {
        font-size: 11px;
     
    }
    footer {
        font-size: 10px;
        text-align: left;
    }
}